@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}




body{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction:  column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

*,
:after,
:before,
input[type=search] {
    box-sizing: border-box;
}

*{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}



.main-container{
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container-refound{
  margin-top: 100px;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.1s;
  background: #fff;
}

.header__refound{
  background: #1B1B22;
}

.refound{
  width: 100%;
  display: flex;
  justify-content: center;
}

.refound__container{
  padding: 0px 15px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
}

.refound__title{
  font-family: 'Poppins';
  font-weight: 500;
  color: #2A4278;
  font-size: 48px;
  line-height: 48px;
  margin: 72px 0px 46px 0px;
}

.refound__text{
  font-family: 'Poppins';
  font-weight: 500;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin: 0px 0px 26px 0px;
}

.refound__small-title{
  font-family: 'Poppins';
  font-weight: 700;
  color: #2A4278;
  font-size: 18px;
  line-height: 18px;
  margin: 0px 0px 18px 0px;
}

.refound__text-another{
   margin: 0px;
}

.refound__link{
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #2A4278;
  margin-bottom: 23px;
}

.refound__list{
  width: 100%;
  max-width: 646px;
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
}

.refound__row{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.refound__row span:first-child{
  width: 40%;
  flex-wrap: wrap;
}

.refound__row span:last-child{
  width: 60%;
  flex-wrap: wrap;
  display: flex;
}


.refound__last-margin{
  margin-bottom: 25px;
}

.refound__list-title{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  margin: 0px 0px 16px 0px;
}

.refound__list-item{
  font-family: 'Poppins';
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
}

.footer__refound{
  margin-top: 20px;
}



.header__container{
  max-width: 1070px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav{
  margin-top: 5px;
  max-width: 479px;
  width: 100%;
}

.header__list{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.header__link{
  font-family: "Poppins";
  color: #2A4278;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
  line-height: 18px;
  position: relative;
  transition: all 0.3s;
}


.header__link:hover{
  color: #F8435B;
}

.header__link:hover:before{
  transform: scale(1.0);
}

.header__link:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 2px;
  border-radius: 50px;
  width: 50px;
  margin-left: -25px;
  transition: all 0.3s;
  transform: scale(0);
  background:  #F8435B;
}

.header__logo{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  margin: 0px;
}

.header__logo_red{
  color: #F8435B;
}

.hero{
  width: 100%;
  margin-top: 130px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 256px;
}

.hero__container{
  max-width: 1632px;
  padding: 92px 15px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero.png");
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}

.hero__title{
  font-family: "Poppins";
  color: #35488B;
  font-weight: 900;
  font-size: 64px;
  line-height: 54px;
  margin: 0px 0px 26px 0px;
  max-width: 779px;
}

.hero__small-title{
  font-family: "Poppins";
  color: #6980E2;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0px 0px 16px 0px;
}

.hero__sign{
  font-family: "Poppins";
  color: #F8435B;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
  margin: 99px 0px 13px 0px;
  max-width: 239px;
}

.hero__button{
  cursor: pointer;
  border: none;
  font-family: "Poppins";
  color: #FFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2C3A64;
  border-radius: 30px;
  max-width: 199px;
  width: 100%;
  height: 68px;
}

.services{
  display: flex;
  justify-content: center;
  width: 100%;
}

.services__container{
  max-width: 1350px;
  width: 100%;
  background-image: url("../img/services.png");
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.services__title{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  margin: 108px 0px 16px 0px;
}

.services__text{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0px 0px 32px 0px;
  max-width: 586px;
}

.services__list{
  padding: 0px;
  margin: 0px 0px 172px 0px;
  list-style-type: none;
}

.services__item{
  padding-left: 32px;
  padding-bottom: 24px;
  font-family: "Poppins";
  color: #14043C;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  position: relative;
}

.services__item:before{
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 0px;
  top: 5px;
  position: absolute;
  background: #F8435B;
}

.tel{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 96px;
}

.tel__container{
  max-width: 1465px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tel__img-width{
  width: 100%;
}

.tel__col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tel__col:first-child{
  max-width: 725px;
  width: 100%;
}

.tel__col:last-child{
  max-width: 587px;
  width: 100%;
}

.tel__title{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  margin: 115px 0px 32px 0px;
}

.tel__list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.tel__item{
  padding-left: 32px;
  position: relative;
  margin-bottom: 24px;
  font-family: "Poppins";
  color: #13375B;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.tel__img_left{
  align-self: flex-start;
}

.tel__margin_left{
  margin-left: 140px;
}

.tel__item:before{
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: #F8435B;
  left: 0px;
  top: 5px;
  border-radius: 50%;
}

.tel__title-big{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.tel__text{
  font-family: "Poppins";
  color: #13375B;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  margin: 0px 0px 63px 0px;
}

.adv{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 214px;
}

.adv__container{
  max-width: 1155px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adv__title{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0px 0px 66px 0px;
}

.adv__list{
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  counter-reset: list;
}

.adv__item{
  padding: 0px 50px;
  width: 33.3%;
  position: relative;
  z-index: 2;
}

.adv__item:before{
  position: absolute;
  font-family: "Poppins";
  counter-increment: list;
  content: counter(list);
  color: #14043C;
  left: 5px;
  top: 0px;
  font-weight: 700;
  font-size: 96px;
  line-height: 98px;
  margin: 0px;
  z-index: -1;
}

.adv__item:first-child:before{
  left: 20px;
}

.adv__item-case{
  background: #fff;
  width: 100%;
  box-shadow: 4px 9px 15px 5px rgba(27, 39, 51, 0.1);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 10px;
  justify-content: space-between;
  height: 680px;
}

.adv__item-title{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin: 0px;
}

.adv__text{
  font-family: "Poppins";
  color: #13375B;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0px;
}

.contacts{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 215px;
}

.contacts__container{
  max-width: 875px;
  width: 100%;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.contacts__col{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contacts__col:first-child{
  max-width: 318px;
  text-align: center;
}

.contacts__col:last-child{
  max-width: 466px;
}

.contacts__form{
  width: 100%;
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.contacts__title{
  font-family: "Poppins";
  color: #2A4278;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin: 0px;
}

.contacts__sign{
  font-family: "Poppins";
  color: #13375B;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 60px 0px;
}

.contacts__form-title{
  font-family: "Poppins";
  color: #2C3A64;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 32px 0px;
}

.contacts__input{
  font-family: "Poppins";
  color: #645A7E;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0px 0px 35px 0px;
  max-width: 291px;
  width: 100%;
  border: none;
  padding: 12px 41px 12px 41px;
  outline:none;
  transition: all 0.3s;
}

.contacts__input:focus{
  background: #f3f3f3;
}

.contacts__button{
  cursor: pointer;
  font-family: "Poppins";
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  background: #2C3A64;
  border-radius: 15px;
  margin: 10px 0px 0px 0px;
  max-width: 126px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  transition: all 0.3s;
}

.contacts__button:hover{
  background: #F8435B;
}


.footer{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  background: #14043C;
}

.footer__container{
  max-width: 1298px;
  width: 100%;
  background-image: url("../img/footer.png");
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 0px 15px;
}

.footer__sign-wrapper .footer__container{
  background: #fff;
}

.footer__list-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 358px;
  width: 100%;
}

.footer__list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 57px 0px 0px 0px;
  margin: 0px;
}

.footer__item{
  margin-bottom: 16px;
}

.footer__link{
  font-family: "Poppins";
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.footer__link:hover{
  color: #F8435B;
}

.footer__link:hover:before{
  transform: scale(1.0);
}

.footer__link:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 2px;
  border-radius: 50px;
  width: 50px;
  margin-left: -25px;
  transition: all 0.3s;
  transform: scale(0);
  background:  #F8435B;
}

.footer__title-list{
  font-family: "Poppins";
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.footer__title{
  font-family: "Poppins";
  color: #fff;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  margin: 0px;
}

.footer__title_red{
  color: #F8435B;
  font-weight: 900;
}

.footer__sign{
  font-family: "Poppins";
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 65px 0px;
  max-width: 488px;
}

.footer__sign_red{
  color: #F8435B;
}

.footer__sign-wrapper{
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: flex-end;
}

.footer__bottom-sign{
  font-family: "Poppins";
  color: #14043C;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
  padding: 1px 0px;
}


/*__________________*/

@media (max-width: 1517px) {
  
}

@media (max-width: 1366px) {
  .tel__container{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .tel__col:first-child{
    order: 2;
  }

  .tel__col:last-child{
    order: 1;
  }

  .footer__container{
    background: inherit;
  }

  .footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__container{
    flex-wrap:  wrap;
  }

  
  
  .hero__container{
    background: #fff;
    align-items: center;
    text-align: center;
  }
  
  .services__container{
    background-position-x:  center;
    align-items: center;
    text-align: center;
    padding-top: 400px;
  }

  .services__list{
    text-align: left;
  }

  .adv__item{
  width: 100%;
  margin-bottom: 25px;
  max-width: 550px;
 }

 .adv__list{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }

 .contacts__container{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }

}

@media (max-width: 768px) {
 
  .header__logo{
    order: 1;
    font-size: 32px;
  }

  .header__container{
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .header__logo{
    margin: 0px auto;
    line-height: 32px;
  }

  .header__nav{
    order: 3;
    margin-top: 10px;
    width: 100%;
  }

  .header__link{
    font-size: 12px;
  } 

  .header{
    padding: 0px 0px 5px 0px;
  }

  .hero__title{
    font-size: 44px;
    line-height: 44px;
  }

  
  .refound__row span:last-child {
    width: 30%;
    flex-wrap: wrap;
    display: flex;
  }

  .refound__row span:first-child {
    width: 70%;
    flex-wrap: wrap;
  }

 .services__text, .tel__text{
  font-size: 17px;
  line-height: 27px;
 }

 .tel__col{
  align-items: center;
  text-align: center;
 }

 .tel__list{
  text-align: left;
 }

 .tel__title-big{
  font-size: 38px;
 }

 .tel__margin_left{
  margin-left: 0px;
  margin-right: 0px;
  align-self: center;
 }

 .tel__img_left{
  align-self: center;
 }

 .adv__item{
  padding: 0px 42px;
 }

 .adv__title{
  padding: 0px 15px;
 }

 .contacts__form{
  padding-left: 10px;
  padding-right: 10px;
 }

}

@media (max-width: 320px) {

}