@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}




body{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction:  column;
  height: 100vh;
  width: 100%;
  overflow-x:hidden;
  justify-content: space-between;
}

*,
:after,
:before,
input[type=search] {
    box-sizing: border-box;
}

*{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}



.main-container{
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container-refound{
  padding-top: 180px;
}

.footer__refound{
  margin-top: 20px;
}

.header__refound{
  background: #1b3045;
}

.header{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 17px;
  z-index: 999;
}

.header__container{
  max-width: 1230px;
  width: 100%;
  display: flex;
  padding: 0px 15px;
  align-items: center;
}

.header__logo{
  margin-right: 127px;
}

.header__nav{
  max-width: 573px;
  width: 100%;
}

.header__list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.header__link{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}

.header__link:before{
  content: "";
  left: 0px;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s;
}

.header__link:hover:before{
  transform: scale(1);
  transition: all 0.3s;
}

.hero{
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.hero__container{
  padding-top: 178px;
  width: 100%;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

.hero__title{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 72px;
  line-height: 87px;
  color: #D8AF5D;
  margin: 0px;
}

.hero__sign{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  margin: 0px 0px 161px 0px;
}

.hero__sign-orange{
  color: #8D5B54;
  font-weight: 900;
}

.hero__text{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #D8AF5D;
  margin: 0px 0px 273px 0px;
  max-width: 649px;
}


.weare{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 285px 0px;
}

.weare__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #1B3045;
  max-width: 1579px;
  padding: 65px 141px;
}

.weare__col{
  width: 100%;
}

.weare__col:first-child{
  max-width: 589px;
}

.weare__col:last-child{
  max-width: 588px;
}

.weare__title{
  margin: 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 90px;
  line-height: 118px;
  color: #D8AF5D;
}

.weare__text{
  margin: 0px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.control{
  display: flex;
  width: 100%;
  background: #1B3045;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-bottom: 166px;
}

.control__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1470px;
  padding: 36px 15px 81px 15px;
}

.control__title{
  margin: 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #D8AF5D;
  max-width: 730px;
}

.control__list{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.control__item{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.control__item_right{
  padding-left: 15px;
}

.control__item_left{
  align-items: flex-end;
}

.control__img{
  width: 100%;
}

.control__item-title{
  margin: 20px 0px 40px 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}

.control__item-text{
  margin: 0px 0px 31px 0px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  max-width: 710px;
}

.services{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__background{
  width: 100%;
  background: #1B3045;
  display: flex;
  justify-content: center;
}

.services__title-wrapper{
  max-width: 1470px;
  width: 100%;
  padding: 81px 15px 90px 15px;
}

.services__title{
  margin: 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: #D8AF5D;
}

.services__background-block{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #162537;
  margin-bottom: 208px;
}

.services__background-block:nth-child(2){
  background: #162537;
}

.services__background-block:nth-child(3){
  background: #2B3346;
}

.services__background-block:nth-child(4){
  background: #1B274F;
}

.services__background-block:nth-child(5){
  background: #113657;
}

.services__block{
  max-width: 1470px;
  width: 100%;
  padding: 0px 0px 102px 122px;
  height: 338px;
}

.services__wrapper{
  display: flex;
  justify-content: space-between;
}

.services__list-title{
  margin: 0px 0px 15px 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
}

.services__list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.services__list-wrapper{
  padding-top: 111px;
  max-width: 466px;
}

.services__item{
  position: relative;
  margin: 0px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding-left: 16px;
}

.services__item:before{
  content: "";
  left: 0px;
  width: 9px;
  height: 1px;
  background: #fff;
  top: 50%;
  position: absolute;
  transform: translate(0px, -50%);
}

.contact{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.contact__container{
  padding: 0px 15px;
  max-width: 1230px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__title{
   margin: 0px 0px 36px 0px;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: #1B3045;
}

.contact__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1B3045;
  padding-top: 113px;
}

.contact__input{
  max-width: 466px;
  width: 100%;
  height: 79px;
  border: 2px solid #fff;
  background: #fff;
  padding: 25px 29px;
  margin-bottom: 48px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ACACAC;
  outline: none;
  transition: all 0.3s;
}

.contact__input:focus{
  border-color: #D8AF5D;
}

.contact__button{
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2E2A32;
  display: flex;
  border: 2px solid #D8AF5D;
  justify-content: center;
  align-items: center;
  background: #D8AF5D;
  margin-top: 19px;
  max-width: 205px;
  width: 100%;
  height: 61px;
  transition: all 0.3s;
}

.contact__button:hover{
  background: inherit;
  color: #fff;
}

.contact__wrapper{
  max-width: 984px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  align-items: center;
  margin-bottom: 30px;
}

.contact__sign{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #D8AF5D;
  max-width: 223px;
  margin: 0px;
}

.contact__logo{
  max-width: 116px;
}

.footer{
  display: flex;
  width: 100%;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  justify-content: center;
  padding-top: 178px;
  margin-top: 219px;
}

.footer__container{
  max-width: 1470px;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 0px 15px;
}

.footer__title{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 72px;
  line-height: 87px;
  color: #D8AF5D;
  margin: 0px;
  position: relative;
}

.footer__title:before{
  content: "";
  width: 153px;
  height: 153px;
  left: -6px;
  top: -23px;
  border: 1px solid #D8AF5D;
  position: absolute;
}

.footer__title:after{
  content: "";
  width: 153px;
  height: 153px;
  left: 46px;
  top: 10px;
  border: 1px solid #D8AF5D;
  position: absolute;
}

.footer__sign{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #fff;
  margin: 0px 0px 89px 0px;
}

.footer__sign_orange{
  font-weight: 900;
  color: #8D5B54;
}

.footer__list-wrapper{
  padding-left: 132px;
  margin-bottom: 116px;
  display: flex;
}

.footer__list{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  max-width: 160px;
  width: 100%;
}

.footer__list-title{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin: 0px 0px 24px 0px;
}

.footer__link{
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0px 0px 18px 0px;
  display: flex;
  position: relative;
}

.footer__link:before{
  content: "";
  left: 0px;
  bottom: -10px;
  width: 35px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s;
}

.footer__link:hover:before{
  transform: scale(1);
  transition: all 0.3s;
}

.footer__bottom-sign{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0px 0px 3px 0px;
}

.refound{
  width: 100%;
  display: flex;
  justify-content: center;
}

.refound__container{
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding: 0px 15px;
  width: 100%;
}

.refound__title{
  margin: 72px 0px 46px 0px;
  font-family: 'Inter';
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color:#D8AF5D;
}

.refound__text{
   margin: 0px 0px 15px 0px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
}

.refound__text-another{
    margin: 0px;
}

.refound__small-title{
   margin: 27px 0px 18px 0px;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #D8AF5D;
}

.refound__text-bold{
  font-weight: 700;
}

.refound__link{
  font-family: 'Inter';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #D8AF5D;
  margin-bottom: 23px;
}



.refound__list{
  width: 100%;
  max-width: 646px;
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
}

.refound__row{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.refound__row span:first-child{
  width: 30%;
  flex-wrap: wrap;
}

.refound__row span:last-child{
  width: 70%;
  flex-wrap: wrap;
  display: flex;
}


.refound__list-title{
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  margin: 0px 0px 16px 0px;
}

.refound__list-item{
  font-family: 'Inter';
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
}



/*__________________*/



@media (max-width: 1488px) {
  .weare__container{
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: flex-start;
  }
 
 .control__list{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }

 .control__item_right{
  padding-right: 0px;
  padding-left: 0px;
 }

 .control__item{
  width: 100%;
 }

 .control__img{
  margin-bottom: 20px;
 }

 .control{
  padding-left: 15px;
  padding-right: 15px;
 }
}

@media (max-width: 1024px) {
  .header__logo{
    margin-right: 30px;
  }
 
  .services__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .services__block{
    height: auto;
  }

  .services__img{
    margin: 25px 0px;
  }
}

@media (max-width: 768px) {
  .header__container{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .header__logo{
    margin-right: 0px;
    margin-bottom: 10px;
    width: 40px;
  }

  .hero__title{
    font-size: 52px;
    line-height: 47px;
  }

  .header__list{
    flex-wrap: wrap;
  }

  .header__item{
    width: 50%;
    margin-bottom: 10px;
  }

  .header__link{
    font-size: 16px;
  }

  .hero__sign{
    margin-bottom: 30px;
  }

  .hero__title{
    margin-top: 40px;
    background: rgba(0,0,0,0.4);
  }

  .hero__sign{
    background: rgba(0,0,0,0.4);
  }

  .hero__text{
    background: rgba(0,0,0,0.4);
    margin-bottom: 0px;
  }

  .hero__container{
    padding-bottom: 30px;
  }

  .weare{
    padding-top: 30px;
  }

  .weare__title{
    font-size: 40px;
    line-height: 58px;
  }

  .weare__text{
    font-size: 20px;
    line-height: 28px;
  }

  .control__container{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .control__title{
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .services__img{
    width: 100%;
  }

  .services__block{
    padding-left: 15px;
    padding-right: 15px;
  }

  .services__background-block{
    margin-bottom: 0px;
  }

  .services__title{
    font-size: 44px;
    line-height: 57px;
  }

  .contact__wrapper{
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contact__title{
    font-size: 44px;
    line-height: 57px;
  }

  .contact__input{
    max-width: 246px;
    padding: 5px 29px;
    height: auto;
    margin-bottom: 28px;
  }

  .contact__sign{
    text-align: center;
    margin-bottom: 25px;
  }

  .footer__title{
    font-size: 42px;
    line-height: 67px;
  }

  .footer__list-wrapper{
    padding-left: 0px;
  }

  .footer{
    margin-top: 0px;
  }
}

